$primary-color: #3f3f44;
$primary-color-hover: #1f1f25;
$secondary-color:#f7f7f7;
$tertiary-color:#cceabb;
$quaternary-color:#fdcb9e;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Montserrat', sans-serif;
$easthetic-font:'Merriweather', serif;
$highlight-color:#33272a;
$transition-speed:200ms;
$small-UX:480px;

@mixin removepadmargin {
    padding: 0;
    margin: 0;
}

@mixin debugger {
    border: 1px solid red;
}
:root {
    font-size: 16px;
    font-family:$primary-font;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    &::-webkit-scrollbar {
        width: .25rem;
    }
    &::-webkit-scrollbar-track {
        background: $primary-color;
    }
    &::-webkit-scrollbar-thumb {
        background: $quaternary-color;
    }
}

main {
    display: flex;
    margin-left: 5rem;
    padding-left: 1rem;
    background-color: $secondary-color;
    color: $primary-color;
}
 .container {
     display: grid;
     
 }

.navbar {
    position: fixed;
    background-color: $primary-color;
}
.navbar-nav {
    @include removepadmargin();
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
    .aboutustooltip {
        visibility: hidden;
        width: 120px;
        background-color:$primary-color-hover;
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 10px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        margin-left: 5rem;
    }
    .skirtstooltip {
        visibility: hidden;
        width: 120px;
        background-color:$primary-color-hover;
        color: #fff;
        text-align: center; 
        padding: 5px;
        font-size: 10px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        margin-left: 5rem;
    }
} 

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    color: $secondary-color;
    text-decoration: none;
    transition: $transition-speed;
}

.logo {
    font-size:2.5rem;
    margin-left: .75rem;
}
.nav-item:last-child {
    margin-top: auto;
}

// media queries
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
        padding: 0;
    }
    
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .navbar-nav {
        flex-direction:row;
    }
    .nav-item {
        @include debugger();
        width: 5rem;
    }
    .nav-item:last-child {
        margin-left: auto;
    }
}

@media only screen and (min-width: 600px) {
    .navbar {
        top:0;
        width: 5rem;
        height: 100vh;
    }
    .nav-item {
        transition: $transition-speed;
    }
    .nav-item:hover {
        background-color: $primary-color-hover ;
        & .aboutustooltip, .skirtstooltip {
            visibility: visible;
        }
    }
    .nav-item:hover .nav-link{
        color: $quaternary-color
    }
    
}